.footer {
  background: linear-gradient(18deg, #000000, #c89116);
  color: #f8f4e3; // Light cream color for contrast
  padding: 20px;
  font-family: Arial, sans-serif;
  font-weight: bolder;

  .top {
    display: flex;
    flex-direction: column; 
    align-items: left; 
    margin-bottom: 20px;

    .left, .middle, .right {
      text-align: left; 
    }

    .left .contact-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px;

      a {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: #ead095; // Slightly darker for links
        text-decoration: none;
        &:hover {
          color: crimson;
        }

        fa-icon {
          margin-right: 5px;
        }
      }
    }
  }

  .middle a,
  .right a {
    color: #f8f4e3; // Light cream color for links
    text-decoration: none;
    margin-right: 10px; 
  }

  .centered {
    display: flex;
    justify-content: center;
  }

  .bottom {
    border-top: 1px solid #fff;
    padding-top: 20px;
    font-family: fantasy;
    font-weight: lighter;
  }

  @media screen and (min-width: 760px) {
    .top {
      flex-direction: row; 
      justify-content: space-between;
    }

    .middle a {
      margin-right: 50px; 
    }
    
    .bottom {
      display: flex;
      justify-content: center; 
      
    }
  }
}
