<footer class="footer">
  <div class="top">
    <div class="left">
      <a>{{ 'CONTACT_US' | translate }}</a>
      <div class="contact-info">
        <a href="mailto:oussamaharrathi333@gmail.com"><fa-icon [icon]="faEnvelope"></fa-icon> {{ 'MAIL' | translate }}</a>
        <a href="tel:+36305136642"><fa-icon [icon]="faPhone"></fa-icon> {{ 'CALL_US' | translate }}</a>
        <a href="https://www.instagram.com/harrathi_oussama/"><fa-icon [icon]="faInstagram"></fa-icon> {{ 'INSTAGRAM' | translate }}</a>
        <a href="https://www.facebook.com/harrathi.oussama"><fa-icon [icon]="faFacebookF"></fa-icon> {{ 'FACEBOOK' | translate }}</a>
        <a href="https://www.linkedin.com/in/oussama-harrathi-a049b2195/"><fa-icon [icon]="faLinkedinIn"></fa-icon> {{ 'LINKEDIN' | translate }}</a>
      </div>
    </div>
    <div class="middle">
      <a routerLink="/terms">{{ 'TERMS_AND_CONDITIONS' | translate }}</a>
    </div>
    <div class="right">
      <a routerLink="/about">{{ 'ABOUT' | translate }}</a>
    </div>
  </div>
  <div class="bottom">
    <div class="centered">
      <p>{{ 'COPYRIGHT' | translate }}</p>
    </div>
  </div>
</footer>
