.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(364deg, #000000, #c89116);
  font-size: larger;

  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    input[type="text"] {
      width: 200px;
      padding: 8px 10px;
      border-radius: 20px;
      border: 1px solid #ead095;
      transition: all 0.3s ease;
      font-size: 16px;
      background: #fff;
      color: #333;

      &:focus {
        width: 250px;
        outline: none;
        border-color: #fe5f55;
      }
    }

    button.search-button {
      background: linear-gradient(45deg, #f0b67f, #fe5f55);
      border: none;
      padding: 0 12px;
      margin-left: -45px;
      border-radius: 0 20px 20px 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;

      &:hover {
        background: linear-gradient(45deg, #fe5f55, #f0b67f);
      }

      fa-icon {
        font-size: 1.2em;
        color: #fff;
      }
    }
  }

  .icon {
    display: none;
  }

  &-middle {
    img {
      max-width: 240px;
    }
  }

  &-left, &-right {
    a {
      margin: 0 50px;
      text-decoration: none;
      color: #ead095;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    .language-selector {
      select {
        padding: 5px;
        margin-right: 15px;
        border: 2px solid black;
        background: #f0b67f;
        color: #333;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        cursor: pointer;
  
        &:focus {
          border-color: #fe5f55;
          outline: none;
          box-shadow: 0 0 10px #fe5f55;
        }
  
        option {
          background: #fff;
          color: #333;
        }
        
      }
    }

    .profile-dropdown {
      display: flex;
      align-items: center;
      margin-left: 70px;

      .profile-pic {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        color: #ead095;
      }
      .navbar .profile-menu {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        font-size: 16px;
      
        .user-info {
          margin-bottom: 10px;
          color:red;
        }
      
        button.mat-menu-item {
          color: #333;
        }
      }
      
    }
    

    
  }

  

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;

    .navbar-left, .auth {
      display: none;
    }

    .menu-button {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      color: #ead095;
    }

    .navbar-middle img {
      margin-top: 10px;
    }

    .menu {
      width: 100%;
      background: #ead095;
      box-shadow: none;
    }
  }

  
  /* Custom styles for menu */
  .navbar .menu {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  
    .user-info {
      margin-bottom: 10px;
    }
  
    button.mat-menu-item {
      color: #333;
    }
  }
  .profile-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  
    .user-info {
      margin-bottom: 10px;
    }
  
    button.mat-menu-item {
      color: #333;
    }
  }
  @media screen and (max-width: 320px) {
    .search-bar input[type="text"]{
      transition: none;
      &:focus {
        width: 200px;
      }
    }
  }
}


