<nav class="navbar">
  <div class="navbar-left hide-on-small-screen">
    <a routerLink="/home">{{ 'HOME' | translate }}</a>
    <a routerLink="/about">{{ 'ABOUT' | translate }}</a>
  </div>
  <div class="navbar-middle">
    <img src="\assets\imgs\final_LOGO-removebg-preview.png" alt="Your Logo">
  </div>
  
  <div class="navbar-right">
    <div class="language-selector">
      <select [(ngModel)]="currentLanguage" (change)="switchLanguage(currentLanguage)">
        <option *ngFor="let language of languages" [value]="language.code">{{ language.label }}</option>
      </select>
    </div>
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchInput" (input)="onSearchChange()" [placeholder]="'SEARCH_PLACEHOLDER' | translate">
      <button class="search-button">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
    <div class="auth">
    <!-- Display Login/Signup link if not logged in -->
    <a *ngIf="!isLoggedIn" routerLink="/login" class="hide-on-small-screen">{{ 'LOGIN_SIGNUP' | translate }}</a>
    <!-- Display Profile and Dropdown if logged in -->
    <div *ngIf="isLoggedIn" class="profile-dropdown hide-on-small-screen">
      <img src="\assets\imgs\profile-iconr.jpg" alt="Profile" class="profile-pic">
      <button mat-button [matMenuTriggerFor]="profileMenu">▼</button>
    </div>
  </div>
  </div>
  
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="isSmallScreen" class="menu-button">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>

  <mat-menu #menu="matMenu" class="menu" xPosition="before">
    <div style="text-align: center;" class="user-info">
      <div class="user-name" style="font-size: 20px; font-weight: bold;">{{ userName }}</div>
      <div class="user-email" style="font-size: 16px; color: #666;">{{ userEmail }}</div>
    </div>
    
    <button mat-menu-item routerLink="/home"><span>{{ 'HOME' | translate }}</span></button>
    <button mat-menu-item routerLink="/about"><span>{{ 'ABOUT' | translate }}</span></button>
    <button mat-menu-item *ngIf="!isLoggedIn" routerLink="/login"><span>{{ 'LOGIN_SIGNUP' | translate }}</span></button>
    <!-- Profile Dropdown Content -->
    <div *ngIf="isLoggedIn">
      <button mat-menu-item *ngIf="!loggedInWithGoogle" (click)="navigateToChangePassword()"><span>{{ 'CHANGE_PASSWORD_MENU' | translate }}</span></button>
      
      <button mat-menu-item (click)="navigateToCreateEvent()"><span>{{ 'CREATE_EVENT_MENU' | translate }}</span></button>
      <button mat-menu-item (click)="navigateToManageEvents()"><span>{{ 'MANAGE_EVENTS_MENU' | translate }}</span></button>
      <button mat-menu-item (click)="logout()"><span>{{ 'LOGOUT' | translate }}</span></button>
    </div>
  </mat-menu>

  <!-- Profile Dropdown Menu for Large Screens -->
  <mat-menu #profileMenu="matMenu" class="profile-menu">
    <div style="text-align: center; padding: 10px;padding-bottom: 20px;" class="user-info">
      <div class="user-name" style="font-size: 20px; font-weight: bold;">{{ userName }}</div>
      <div class="user-email" style="font-size: 16px; color: #666;">{{ userEmail }}</div>
    </div>
    
    <button mat-menu-item *ngIf="!loggedInWithGoogle" (click)="navigateToChangePassword()"><span>{{ 'CHANGE_PASSWORD_MENU' | translate }}</span></button>
    
    <button mat-menu-item (click)="navigateToCreateEvent()"><span>{{ 'CREATE_EVENT_MENU' | translate }}</span></button>
    <button mat-menu-item (click)="navigateToManageEvents()"><span>{{ 'MANAGE_EVENTS_MENU' | translate }}</span></button>
    <button mat-menu-item (click)="logout()"><span>{{ 'LOGOUT' | translate }}</span></button>
  </mat-menu>
</nav>
