<div class="modal-overlay" [@modalAnimation] *ngIf="event" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <div class="header-content">
        <h2>{{ event.eventName }}</h2>
      </div>
      <button class="close-button" (click)="closeModal()">✖</button>
    </div>
    <div class="modal-body">
      <img [src]="event.eventPicture" alt="{{ 'EVENT_IMAGE_ALT' | translate }}" class="event-image">
      <p><strong>{{ 'LOCATION' | translate }}:</strong> {{ event.location }}</p>
      <p><strong>{{ 'DATE' | translate }}:</strong> {{ event.eventDate | date: 'fullDate' }}</p>
      <p><strong>{{ 'TIME' | translate }}:</strong> {{ event.eventTime | date: 'shortTime' }}</p>
      <p class="event-description">{{ event.description }}</p>

      <!-- Chat Button with Angular Material Tooltip -->
      <button matTooltip="{{ 'CHAT_TOOLTIP' | translate }}"
              matTooltipDisabled="{{hasTicket || isOrganizer}}"
              class="chat-button" 
              (click)="toggleChat()" 
              [disabled]="!hasTicket && !isOrganizer">
        {{ 'CHAT_BUTTON' | translate }}
      </button>

      <!-- Chat Section -->
      <div *ngIf="showChat">
        <!-- Chat Messages -->
        <div class="chat-messages">
          <div *ngFor="let message of messages$ | async" class="message">
            <span [ngClass]="{'organizer': message.role === 'organizer'}">
              {{ message.role === 'organizer' ? 'Organizer: ' : '' }}{{ message.fullName }}:
            </span>
            {{ message.message }}
          </div>
        </div>

        <!-- New Message Input with Emoji Icon -->
        <div class="new-message">
          <input type="text" [(ngModel)]="newMessage" placeholder="{{ 'TYPE_MESSAGE' | translate }}">
          <button class="emoji-button" (click)="toggleEmojiPicker()">😊</button>
          <button (click)="sendMessage()">{{ 'SEND_BUTTON' | translate }}</button>
        </div>

        <!-- Conditional Emoji Picker -->
        <div *ngIf="showEmojiPicker" class="emoji-picker">
          <emoji-mart set="apple" (emojiClick)="addEmoji($event)"></emoji-mart>
        </div>
      </div>

      <!-- Buy Ticket Button -->
      <div class="action-buttons">
        <button class="buy-ticket-button" (click)="onGetTicket()">{{ 'GET_TICKET_BUTTON' | translate }}</button>
        <fa-icon [icon]="faShareNodes" class="share-icon" (click)="shareEvent()"></fa-icon>
      </div>
    </div>
  </div>
</div>
