.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .modal-content {
    background: white;
    color: #333; // Darker text color for better contrast
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    .share-icon {
      cursor: pointer;
      // Position it as per your design requirement
      float: right; // Example: Align to the right
      margin-right: 10px; // Spacing from the right edge
      margin-top: -30px; // Adjust vertical position
      font-size: 20px; // Size of the icon
    }
    

    .close-button {
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      .header-content {
        display: flex;
        align-items: center;
    
        h2 {
          margin: 0;
          margin-right: 15px; // Spacing between the title and the icon
        }
    
        
      }
    
      .close-button {
        background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      }
    }

    .modal-body {
      margin-top: 20px;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: calc(80vh - 100px);

      .event-image {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-height: 200px;
        margin-bottom: 15px;
      }

      .event-description {
        margin-top: 15px;
        font-size: 16px;
        word-wrap: break-word;
        white-space: normal;
      }

      

      .chat-button {
        /* Style the chat button as needed */
        padding: 10px 15px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;

        &:hover {
          background-color: #45a049;
        }
        &:disabled {
          background-color: #ccc;
          cursor: default;
        }
      }

      .chat-messages {
        margin-top: 20px;
        padding: 10px;
        background: #f7f7f7; // Light gray background
        border-radius: 5px;
        max-height: 200px;
        overflow-y: auto;

        .message {
          padding: 5px;
          border-bottom: 1px solid #ddd; // Light divider between messages

          &:last-child {
            border-bottom: none;
          }

          .organizer {
            color: red;
          }
        }
      }

      .new-message {
        margin-top: 15px;
        display: flex;

        input[type="text"] {
          flex-grow: 1;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 5px;
          margin-right: 5px;
        }

        .emoji-button {
          padding: 0 10px;
          background: none;
          border: none;
          cursor: pointer;
          font-size: 1.2em;
        }

        button {
          padding: 10px 15px;
          background-color: #4CAF50;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;

          &:hover {
            background-color: #45a049;
          }
        }
      }
      .action-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px; // Adjust as needed
    
        .buy-ticket-button {
          margin-top: 20px;
        display: block;
        width: 100%;
        padding: 12px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        transition: background-color 0.3s;

        &:hover {
          background-color: #45a049;
        }
        }
    
        .share-icon {
          cursor: pointer;
          font-size: 30px;
          margin-left: 10px;
          margin-top: 17px;
           // Space between the button and the icon
        }
      }

      
    }
  }
}
