.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #c89116);
}

.login-form {
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #1877f2; 
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 20px; 

    label {
      font-size: 14px;
      margin-bottom: 5px;
      color: #606770;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #dddfe2;
      border-radius: 4px;
      font-size: 16px;
      color: #1c1e21;
      background: #f0f2f5;
      transition: border-color 0.3s;

      &::placeholder {
        color: #8b949e;
      }

      &:focus {
        border-color: #1877f2; 
      }
    }
  }

  .login_button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto; // Center horizontally
    margin-right: auto; // Center horizontally
  
    .bn54span {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #000000;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.7px;
    }
  
    &:hover {
      animation: bn54rotate 0.7s ease-in-out both;
    }
  
    &:hover .bn54span {
      animation: bn54storm 0.7s ease-in-out both;
      animation-delay: 0.06s;
    }
  

  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(7deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-7deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }

  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }

  .signup-link {
    font-size: 14px;
    color: #606770;

    a {
      color: #1877f2;
      text-decoration: none; 
    }

    
  }
}

.google-signup-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4437; // Google's red color
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.3s;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    background-color: darken(#db4437, 10%);
  }

  .google-icon {
    margin-right: 10px;
    // Set dimensions for the icon if you have a specific size in mind
  }
}
.forgot-password-link {
  color: #1877f2;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}

.password-reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

  .reset-email-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .reset-password-button {
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s;
    &:hover {
      background-color: darken(#1877f2, 10%);
    }
  }
}
.password-container {
  position: relative;
  width: 100%; 

  input {
    width: 100%;
    padding-right: 10px; 
  }

  .password-toggle-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
}
.alert.alert-info {
  background-color: #d4edda; /* Set the background color */
  color: #155724; /* Set the text color */
  margin-bottom: 1rem; /* Add some margin at the bottom */
  border: 1px solid transparent; /* Add a border */
  border-radius: .25rem; /* Add border radius */
  padding: .75rem 1.25rem; /* Add padding */
}