<div class="change-password-container">
  <h2>{{ 'CHANGE_PASSWORD_HEADER' | translate }}</h2>
  <form (ngSubmit)="changePassword()">
    <div class="form-group">
      <label for="oldPassword">{{ 'OLD_PASSWORD_LABEL' | translate }}</label>
      <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" required>
    </div>
    <div class="form-group">
      <label for="newPassword">{{ 'NEW_PASSWORD_LABEL' | translate }}</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
    </div>
    <div class="form-group">
      <label for="confirmPassword">{{ 'CONFIRM_NEW_PASSWORD_LABEL' | translate }}</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit" class="change-password-button">{{ 'CHANGE_PASSWORD_BUTTON' | translate }}</button>
  </form>
  <p *ngIf="message" class="message">{{ message }}</p>
</div>

