<div class="terms-and-conditions">
  <h1>{{ 'TERMS_AND_CONDITIONS_HEADER' | translate }}</h1>

  <h2>{{ 'ACCEPTANCE_OF_TERMS_SECTION' | translate }}</h2>
  <p>{{ 'ACCEPTANCE_OF_TERMS_CONTENT' | translate }}</p>

  <h2>{{ 'USER_REGISTRATION_SECTION' | translate }}</h2>
  <p>{{ 'USER_REGISTRATION_CONTENT' | translate }}</p>

  <h2>{{ 'EVENT_ORGANIZERS_SECTION' | translate }}</h2>
  <p>{{ 'EVENT_ORGANIZERS_CONTENT' | translate }}</p>

  <h2>{{ 'EVENT_CANCELLATION_POLICY_SECTION' | translate }}</h2>
  <p>{{ 'EVENT_CANCELLATION_POLICY_CONTENT' | translate }}</p>

  <h2>{{ 'EVENT_REPORTING_POLICY_SECTION' | translate }}</h2>
  <p>{{ 'EVENT_REPORTING_POLICY_CONTENT' | translate }}</p>

  <h2>{{ 'ORGANIZER_PAYMENT_POLICY_SECTION' | translate }}</h2>
  <p>{{ 'ORGANIZER_PAYMENT_POLICY_CONTENT' | translate }}</p>

  <h2>{{ 'PRIVACY_POLICY_SECTION' | translate }}</h2>
  <p>{{ 'PRIVACY_POLICY_CONTENT' | translate }}</p>

  <h2>{{ 'TERMINATION_SECTION' | translate }}</h2>
  <p>{{ 'TERMINATION_CONTENT' | translate }}</p>

  <h2>{{ 'CONTACT_US_SECTION' | translate }}</h2>
  <p>{{ 'CONTACT_US_CONTENT' | translate }}</p>
</div>
