@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.event-details {
    background: linear-gradient(to right bottom, #e8efff, #d6e0f0); /* Diagonal gradient */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    font-family: 'Montserrat', sans-serif;
}

.event-details h2 {
    font-size: 38px;
    color: #294c60; /* Updated color */
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px #aab2c0;
}

.event-details p {
    font-size: 18px;
    color: #4a5d70;
    margin-bottom: 18px;
    line-height: 1.5;
}

.event-details label {
    display: block;
    font-size: 20px;
    color: #294c60;
    margin-bottom: 12px;
}

.event-details input[type="number"] {
    width: 30%;
    padding: 14px;
    font-size: 17px;
    border: 3px solid #b0c4de; /* Light steel blue border */
    border-radius: 8px;
    margin-bottom: 30px;
    transition: border-color 0.3s;
}

.event-details input[type="number"]:hover,
.event-details input[type="number"]:focus {
    border-color: #1e395b; /* Darker blue for focus and hover */
}

.event-details button {
    background-color: #5a7d9a; /* Soft blue */
    margin-top: 30px;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 20px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.event-details button:hover {
    background-color: #3b5a72; /* Darker blue on hover */
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .event-details {
        padding: 25px;
    }

    .event-details h2 {
        font-size: 32px;
    }

    .event-details input[type="number"] {
        width: 100%;
    }
}
