<div *ngIf="event" class="event-details">
  <h2>{{ event.eventName }}</h2>
  <p><strong>{{ 'LOCATION' | translate }}:</strong> {{ event.location }}</p>
  <p><strong>{{ 'DATE_LABEL' | translate }}:</strong> {{ event.eventDate | date: 'fullDate' }}</p>
  <p><strong>{{ 'TIME_LABEL' | translate }}:</strong> {{ event.eventTime | date: 'shortTime' }}</p>
  <p><strong>{{ 'PRICE_PER_TICKET_LABEL' | translate }}:</strong> {{ event.price | currency }}</p>

  <div>
    <label for="ticketQuantity">{{ 'NUMBER_OF_TICKETS_LABEL' | translate }}:</label>
    <input type="number" id="ticketQuantity" [(ngModel)]="numberOfTickets" min="1">
  </div>

  <p><strong>{{ 'TOTAL_PRICE_LABEL' | translate }}:</strong> {{ event.price * numberOfTickets | currency }}</p>

  <button class="purchase-button" (click)="initiatePurchase()">{{ 'PROCEED_TO_PAYMENT_BUTTON' | translate }}</button>
</div>
