<div class="signup-form-container">
  <div class="signup-form">
    <h2>{{ 'SIGN_UP_HEADER' | translate }}</h2>
    <form (ngSubmit)="registerUser()">
      <div class="form-group">
        <label for="fullname">{{ 'FULL_NAME_LABEL' | translate }}</label>
        <input type="text" id="fullname" name="full_name" placeholder="{{ 'FULL_NAME_PLACEHOLDER' | translate }}" [(ngModel)]="userData.full_name">
      </div>
      <div class="form-group">
        <label for="email">{{ 'EMAIL_LABEL' | translate }}</label>
        <input type="email" id="email" name="email" placeholder="{{ 'EMAIL_PLACEHOLDER' | translate }}" [(ngModel)]="userData.email">
      </div>
      <div class="form-group">
        <label for="password">{{ 'PASSWORD_LABEL' | translate }}</label>
        <input type="password" id="password" name="password" placeholder="{{ 'PASSWORD_PLACEHOLDER' | translate }}" [(ngModel)]="userData.password">
      </div>
      <div class="form-group">
        <label for="confirmPassword">{{ 'CONFIRM_PASSWORD_LABEL' | translate }}</label>
        <input type="password" id="confirmPassword" name="confirm_password" placeholder="{{ 'CONFIRM_PASSWORD_PLACEHOLDER' | translate }}" [(ngModel)]="userData.confirm_password">
      </div>

      <button type="submit" class="signup_button bn54">
        <span class="bn54span">{{ 'SIGN_UP_BUTTON' | translate }}</span>
      </button>
    </form>
    
    <button class="google-signup-button" (click)="signInWithGoogle()">
      <fa-icon [icon]="['fab', 'google']" class="google-icon"></fa-icon>
      {{ 'SIGN_UP_WITH_GOOGLE' | translate }}
    </button>
    <p class="login-link">{{ 'ALREADY_HAVE_ACCOUNT' | translate }} <a routerLink="/login">{{ 'LOGIN' | translate }}</a></p>

    <!-- Display the success/failure message if available -->
    <div class="error-message" *ngIf="registrationError" >
      {{ registrationError }}
    </div>
    <div class="success-message" *ngIf="registrationSuccess">{{ registrationSuccess }}</div>
  </div>
</div>
