.home {
  background: linear-gradient(135deg, #000000, #c89116);
  padding: 20px;
  min-height: 100vh;
  color: #fff;
}

.event-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.event-card {
  position: relative;
  background: #ead095;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: black; // Soft cream color for contrast and readability
  .expired-sticker {
    position: absolute;
    top: 100px;
    right: -30px;
    background-color: red;
    color: white;
    padding: 5px 70px;
    transform: rotate(45deg);
    transform-origin: top right;
    text-align: center;
    font-weight: bold;
    z-index: 1;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  }

  .image-container {
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  h3 {
    font-size: 1.6rem;
    margin-top: 15px;
    padding: 0 15px;
    text-shadow: 1px 1px 3px black;
  }

  p {
    padding: 0 15px;
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 1.1rem;
  }
  .event-description {
    display: block; // Ensuring the description is a block element
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; // Truncating with ellipsis
    max-width: 90%; // Adjust as needed
    margin: 0 auto 10px; // Centering and adding margin
  }

  .event-pricing {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
    align-items: center;
  }

  .price, .available-tickets {
    background: rgba(255, 255, 255, 0.1); // Semi-transparent white
    color: black; // Light cream color
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 1px solid black; // Light cream border

    fa-icon {
      margin-right: 8px;
      color:black; // Harmonizing with the gradient
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  a, button {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background-color: #d18c35; // Harmonizing with the gradient
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    transition: background-color 0.2s;
    &:hover {
      background-color: darken(#d18c35, 10%);
    }
  }
}

@media screen and (max-width: 768px) {
  .event-cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
